.nav-logo{
    width: 180px;
    margin-top: -5px;
}

.appointment{
    background-color: #42b9ff;
    border: 1px #42b9ff solid;
    font-weight: 700;
}

.appointment:hover{
    background-color: #8b4aea;
    border: 1px #8b4aea solid;
}

.slider-customization{
    background-color: #8b4aea !important;
}

.slider-customization .category-tag-name a{ 
    color: lavender !important;
}

.slider-customization .card-title a{
    color: white !important;
}

.slider-customization p{
    color: white !important;
}

.slider-customization .btn-read{
    background-color: white !important;
    color: #8b4aea !important;
    font-weight: 700;
}

.slider-customization .btn-read:hover{
    background-color: #F6C711 !important;
    color: #8b4aea !important;
}