.lt_btn{
    font-size: 0.625rem;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.home_location .lt_btn{
    visibility: hidden;    
}

.home_location:hover .lt_btn{
    visibility: visible;    
}

.home_location .row{
    border-top: 1px dotted white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 49px;
}

.lt_btn_big{
    font-size: 0.875rem;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 10px 5px;
}

.lt_btn_big i{
    font-size: 0.875rem;
}

.lt_btn:hover,
.lt_btn_big:hover{
    border: 2px solid white;
    color: #1063af;
    background-color: white;
}

.lt_btn:hover i,
.lt_btn_big:hover i,
.lt_btn_big:hover .sp_text,
.lt_btn_big:hover .en_text{
    color: #1063af;
}

.mtm{
    margin-top: -35px;
}


/* home location checkbox */

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 5px;
  }
  .radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #fff;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }

  .hidden {
    display: none;
  }
  .credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
  }
  .credit img {
    width: 72px;
  }
  .credit:hover {
    transform: scale(0.95);
  }
  /* home location checkbox */

  .service_img{
      width: 30%;
  }

div.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 120px !important;
}

#locations .card{
    border: none;
}

#locations .card-header{
    background-color: white;
}

.location_num{
    width:25px;
    min-width:25px;
    height:25px;
    box-sizing: border-box;
    padding: 3px 5px;
    border-radius: 15px;
    text-align: center;
    float: left;
    margin-top: 2px;
}

.home_white_btn{
  background-color: white;
  border:2px solid white;
  color: #00a3c8 !important;
  font-size: 17px;
  border-radius: 5px;
  padding: 15px 40px;
}

.home_white_btn:hover{
  background-color: #00a3c8;
  color: white !important;
}

.footer-link a{
  color: white !important;
  font-size: 18px;
  text-decoration: none;
}

.footer-link:hover a{
  text-decoration: underline;
}

.after_label {
  width: 150px;
  position: relative;
  background: darkblue;
  color: white;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 7px;
  border-radius: 0px 15px 15px 0px;
}
