.white{
    color: white;
} 

.purple_background{
    background-color: purple;
}

.purple{
    color: purple;
}

.light_blue{
    color: #00a3c8;
}

.light_blue_background{
    background-color: #00a3c8;
}